/*Created by Sebastian for FooDB*/

/*created 13/10/19*/
/*updated 20/10/19*/

a
{
  text-decoration: none;
  color: #009900;
}

h1,p
{
  font-family: "Helvetica";
  font-weight: 100;
  word-wrap: normal;
  color: #005500;
  position: absolute;
  text-align: center;
  text-overflow: ellipsis;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
}

.background
{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background-image: linear-gradient(#00e700,#00b700);
  display: flex;
  justify-content: center;
  align-items: center;
}
#centerbox
{
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  background-image: linear-gradient(#eeffee,#eecfee);
}
